li{
    padding: 5px 10px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
li:hover{
        background-color: #bdbdbd;
        a{
            color: black;
        }
}
ul{
    list-style: none;
    display:flex;
    justify-content:flex-start;
    margin-left:100px;
    align-items: center;
    height: 50px;
    margin-bottom: 0;
}

nav{
    background-color: black;
    width: 100%;
    z-index: 2;
}
a{
    text-decoration: none;
    color: white;
}
